.DS_Store
.idea
log/*.log
tmp/**/*
config/database.yml
config/locomotive.yml
db/*.sqlite3
db/schema.rb
.project
db/test_structure.sql
*.db
*/*.db
*/*.sassc
*.sassc
*.tmp*~
Thumbs.db
nbproject
*.svg
*~
webrat-*
.eprj
*.tmproj
