search_phrase  = '#{@search_phrase}';
var serializedXML = '#{escape_javascript(render :partial => "sample.xml")}';
/ var serializedXML = $.ajax()
view = generate_view(serializedXML);
a = '#{escape_javascript(render :partial => "search_result")}';
html = Mustache.to_html(a, view)
$('#result').html(html);